[submodule "ilastik"]
	path = ilastik
	url = ssh://git@github.com/holstgr-kaust/ilastik
[submodule "volumina"]
	path = volumina
	url = ssh://git@github.com/holstgr-kaust/volumina
[submodule "lazyflow"]
	path = lazyflow
	url = ssh://git@github.com/holstgr-kaust/lazyflow
