[submodule "ilastik"]
	path = ilastik
	url = git://github.com/holstgr-kaust/ilastik
[submodule "volumina"]
	path = volumina
	url = git://github.com/holstgr-kaust/volumina
[submodule "lazyflow"]
	path = lazyflow
	url = git://github.com/holstgr-kaust/lazyflow
